@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');


body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'League Spartan', sans-serif;
}

:root {
    --mainColor: #9A1F40;
    --secondaryColor: #D9455F;
    --accentColor: #74D4C0;
    --lightColor: #DEF4F0;
    --mainFont: 'League Spartan', sans-serif;
  }


h2 {
    font-family: var(--mainFont);
    font-style: 'medium';
    font-size: 50px;
    color: var(--secondaryColor);
    position: absolute;
    top: 10px;
}
#container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--lightColor);
}

#sidebar {
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 0;
    background-color: var(--mainColor);
    transition:  0.4s;
}

#navWrapper{
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 100%;
    transition: 0.4s;

}


.navEntry {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin-left: 3%;
    opacity: 0;
    width: 0;
    width: 80%;
    flex: 1;
    transition: 0.2s;
}


select {
    appearance: none;
    cursor: pointer;
    outline: 0;
    font-family: var(--mainFont);
    font-weight: 100;
    font-size: 20px;
    color: var(--accentColor);
    background-color: var(--mainColor);
    border-radius: 5px;
    border-width: 4px ;
    border-color: var(--accentColor);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background: url(./images/expand_more.svg) no-repeat right transparent;
    background-position: top 50% right 3px ;
}

option {
    background: var(--mainColor);
}


h3 {
    font-family: var(--mainFont);
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    color: var(--accentColor);
}

#menuButton {
    position: absolute;
    z-index: 11;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.bar{
    width: 35px;
    height: 6px;
    background-color: var(--accentColor);
    margin: 6px 0 6px 6px;
    border-radius: 3px;
    transition: 0.4s;
}

.change #bar1{
    transform: translate(0, 12px) rotate(45deg);
}

.change #bar2{
    transform: rotate(-45deg);
}

#contentWrapper{
    display: flex;
    flex: 1;
    background-color: var(--lightColor);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas {
    position: absolute;
    z-index: 2;
    width: fit-content;
    height: fit-content;
    border-style: solid;
    border-color: var(--accentColor);
    border-radius: 5px;
    border-width: 5px;
}

#canvas2 {
    z-index: 0;
    position: absolute;
    border-style: solid;
    border-color: var(--accentColor);
    border-radius: 5px;
    border-width: 5px;
    background: grey;
}

.webcam-start-stop {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5px 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .webcam-start-stop > a {
    text-decoration: unset;
    color: #000;
    background: #fff;
    padding: 10px 20px;
  }